

.bg-overlay{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/ny-comic-con.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 50px;
}

.bg-faded .container {
  position:relative;
  z-index:2;
}
