.bg-overlay{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('images/ny-comic-con.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 50px;
}

.bg-faded .container {
  position:relative;
  z-index:2;
}

#question-section{
  margin-top: 60px;
}

#resource-header{
  margin-bottom:30px;
}

#question-1-header, #question-2-header{
  margin-bottom: 25px; 
}
